<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(90deg, #c41ba8, #ff9900, #4f09ca);          border-radius: 10px;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            text-align: center;
            padding: 20px;
        }

        p {
            color: #666;
            font-size: 18px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>About Us</h1>
    <p style="color: red;" >This is the site about the website.</p>
 <p><a href="/dashboard">back to dashboard</a></p>   
</body>
</html>
