<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
   <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            background: linear-gradient(90deg, #c41ba8, #ff9900, #4f09ca);          border-radius: 10px;

        }

        h1 {
            color: #333;
            text-align: center;
        }

        p {
            color: #555;
            margin: 10px;
            line-height: 1.4;
        }

        a {
            text-decoration: none;
            color: #007acc;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>


</head>
<body>
    <h1  style="color: rgb(229, 223, 221);">About Us</h1>
   <h3><p style="color: red;" >This is the site about the website.</p></h3> 
    <p style="color: rgb(37, 31, 31);">
        What is Weather?
The day-to-day conditions of the atmosphere at a place with respect to elements like humidity, temperature, wind speed, rainfall, etc. is called the weather of that place.
Weather can be cloudy, sunny, rainy, stormy or clear. It is a part of the natural phenomenon which maintains the equilibrium in the atmosphere.
But conditions can be worse sometimes. When the atmospheric conditions are extreme or intense enough to cause property loss or life loss, such weather is termed as severe weather.
These also vary according to the altitudes, latitudes, and region and pressure differences. Tornadoes, cyclones, heavy rainfall, fog, winter storms come under this category. They are disastrous and hazardous. Proper disaster management and strategies are required to handle these conditions.
Elements of Weather:
Wind speed
Humidity
Temperature
Rainfall
Thunder
Snow
Lightning
Factors Affecting Weather:
All the changes that happen in the weather are made by the sun. Because the sun has a very high temperature and it is a huge sphere of hot gases. It is the main source of heat and light for the earth. It is even the primary source of energy hence affects the weather.
The energy reflected and absorbed by the earth’s surface, the oceans and the atmosphere play an important role in determining the weather at any place.
Gases like methane, water vapour and carbon dioxide also play a role in determining the weather.
Understand how the atmosphere plays an important part in the formation of weather by visiting the article below:

Layers of Atmosphere

    </p>
 <p><a href="/dashboard">back to dashboard</a></p>   
</body>
</html>
