<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <style>
        /* Add your CSS styles here */

        body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #5f5bce, #f1f1f1, #d96e81);
    border-radius: 10px;
    margin: 0;
    padding: 0;
    background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/GTYSdDW/videoblocks-world-news-background-business-concept-2_bieq0ayrm_thumbnail-1080_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px;
}


        h1 {
            color: #e41616;
            text-align: center;
            padding: 20px;
        }

        p {
            background-color: #f1f1f1;
            color: #4e0ae3;
            font-size: 18px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO MY WEBSITE</h1>
    <p class="mt-3">Don't have an account? <a href="/signup">Sign Up</a></p>
    <p >Already have an account? <a href="/login">login</a></p>
</body>
</html>
