<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(90deg, #5f5bce, #f1f1f1, #d96e81);          border-radius: 10px;
            margin: 0;
            padding: 0;
            
        }

        h1 {
            color: #333;
            text-align: center;
            padding: 20px;
        }

        p {
            color: #666;
            font-size: 18px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO MY WEBSITE</h1>
    <p class="mt-3">Don't have an account? <a href="/signup">Sign Up</a></p>
    <p >Already have an account? <a href="/login">login</a></p>
</body>
</html>
